# ---------------------------
# Python
# ---------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
*.log

# Virtual environments
venv/
.venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints/

# Cache
.cache/
*.pickle
*.pkl

# ---------------------------
# OS Files
# ---------------------------
.DS_Store
Thumbs.db

# ---------------------------
# VSCode
# ---------------------------
.vscode/

# ---------------------------
# Kaggle / credentials
# ---------------------------
kaggle.json
*.token
